<!DOCTYPE html>
<html ng-app="MyModule" lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>npv rest api app</title>
        <!-- STYLE SHEETS -->
        <!-- /\/\/\/\/\/\ -->
        <!--styles css-->
        <link rel="stylesheet" href="styles/styles.css">
        <!--bootstrap cdn-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- mmenu css -->
        <link href="styles/jquery.mmenu.all.css" type="text/css" rel="stylesheet" />
        <!-- KaTeX css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
        <!-- SCRIPTS -->
        <!-- /\/\/\/ -->
        <!--angular cdn-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <!-- angular module-->
        <script src="scripts/module.js" type="text/javascript"></script>
        <!-- angular controller -->
        <script src="scripts/controller.js" type="text/javascript"></script>
        <!-- jQuery cdn -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <!-- mmenu jquery script -->
        <script src="scripts/jquery.mmenu.all.min.js" type="text/javascript"></script>
        <!-- mmenu config-->
        <script src="scripts/mmenuConfig.js" type="text/javascript"></script>
        <!-- KaTeX cdn-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
    </head>
    <body>
        <div>
            <nav id="my-menu">
                <ul id="">
                    <li><a href="/npv">Net Present Value</a></li>
                    <li><a href="/irr">Internal Rate of Return</a></li>
                </ul>
            </nav>
            <div>
                <a href="#my-menu" id="menuButton" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></a>
            </div>    
            <div class="centerContent">
                <div id="npvFormula" class="math">
                    - C_0 + \sum_{i=1}^T \frac{C_i}{(1+irr)^i} = 0
                </div>
                <br>
                <div id="calculationContent" ng-controller="irrCtrl" class="">
                    <form ng-submit="sendPost()">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Initial Investment</span>
                            <input type="number" class="form-control" ng-model="initialInvestment" aria-describedby="basic-addon1"  placeholder="e.g. 1000 for $1000">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">No of Years</span>
                            <input type="number" class="form-control" ng-model="years" ng-change="addCashFlowFields()" aria-describedby="basic-addon1" placeholder="e.g. 5 for 5 years">
                        </div>
                        <br>
                        <div class="input-group" ng-repeat="item in cashFlowsArray">
                            <span class="input-group-addon" id="basic-addon1">Cash Flow Year</span>
                            <input type="number" class="form-control" ng-model="item.value" aria-describedby="basic-addon1">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-secondary">Calculate</button>
                        <br><br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">IRR</span>
                            <input type="text" class="form-control" value="{{irr.irr}}" aria-describedby="basic-addon1" placeholder="Press Calculate for the IRR :)">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <!-- KaTeX html font formatting -->
    <script src="scripts/katexFontFormatting.js"></script>
</html>